RentACarWPFProject/Connected Services/ModelService/Common.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarModel" nillable="true" type="tns:CarModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarModel" nillable="true" type="tns:ArrayOfCarModel" />
  <xs:complexType name="CarModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ManufacturerId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarModel" nillable="true" type="tns:CarModel" />
</xs:schema>