RentACarWPFProject/Connected Services/ModelService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
  <xs:element name="GetModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacturerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="GetModelsResult" nillable="true" type="q1:ArrayOfCarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Common.Models" minOccurs="0" name="model" nillable="true" type="q2:CarModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewModelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>