RentACarWPFProject/Service References/RentACarServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetManufacturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetManufacturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCarModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarModels" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCarModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewManufacturer" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewModel_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewModel" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewModelResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCar" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCar" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufacturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetManufacturers" message="tns:IService1_GetManufacturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetManufacturersResponse" message="tns:IService1_GetManufacturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCarModels" message="tns:IService1_GetCarModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCarModelsResponse" message="tns:IService1_GetCarModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewManufacturer" message="tns:IService1_AddNewManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewManufacturerResponse" message="tns:IService1_AddNewManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewModel" message="tns:IService1_AddNewModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewModelResponse" message="tns:IService1_AddNewModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewCar" message="tns:IService1_AddNewCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewCarResponse" message="tns:IService1_AddNewCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCar" message="tns:IService1_GetCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCarResponse" message="tns:IService1_GetCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManufacturers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarModels">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCarModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewManufacturer">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewModel">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewCar">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RentACarService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>