RentACarWPFProject/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ManufacturerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManufacturerService_GetManufacturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturers" />
  </wsdl:message>
  <wsdl:message name="IManufacturerService_GetManufacturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufacturersResponse" />
  </wsdl:message>
  <wsdl:message name="IManufacturerService_AddNewManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewManufacturer" />
  </wsdl:message>
  <wsdl:message name="IManufacturerService_AddNewManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewManufacturerResponse" />
  </wsdl:message>
  <wsdl:portType name="IManufacturerService">
    <wsdl:operation name="GetManufacturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IManufacturerService/GetManufacturers" message="tns:IManufacturerService_GetManufacturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManufacturerService/GetManufacturersResponse" message="tns:IManufacturerService_GetManufacturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IManufacturerService/AddNewManufacturer" message="tns:IManufacturerService_AddNewManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManufacturerService/AddNewManufacturerResponse" message="tns:IManufacturerService_AddNewManufacturer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManufacturerService" type="tns:IManufacturerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetManufacturers">
      <soap:operation soapAction="http://tempuri.org/IManufacturerService/GetManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewManufacturer">
      <soap:operation soapAction="http://tempuri.org/IManufacturerService/AddNewManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManufacturerService">
    <wsdl:port name="BasicHttpBinding_IManufacturerService" binding="tns:BasicHttpBinding_IManufacturerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RentACarService/ManufacturerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>