RentACarWPFProject/Connected Services/VehicleService/VehicleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VehicleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/Design_Time_Addresses/RentACarService/VehicleService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/Design_Time_Addresses/RentACarService/VehicleService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/Design_Time_Addresses/RentACarService/VehicleService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Common.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVehicleService_AddNewCar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCar" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_AddNewCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewCarResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_GetCars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCars" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_GetCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_GetCarByManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByManufacturer" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_GetCarByManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_GetCarByModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByModel" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_GetCarByModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCarByModelResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_DeleteCar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCar" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_DeleteCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCarResponse" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_UpdateCar_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCar" />
  </wsdl:message>
  <wsdl:message name="IVehicleService_UpdateCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCarResponse" />
  </wsdl:message>
  <wsdl:portType name="IVehicleService">
    <wsdl:operation name="AddNewCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleService/AddNewCar" message="tns:IVehicleService_AddNewCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleService/AddNewCarResponse" message="tns:IVehicleService_AddNewCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleService/GetCars" message="tns:IVehicleService_GetCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleService/GetCarsResponse" message="tns:IVehicleService_GetCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarByManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleService/GetCarByManufacturer" message="tns:IVehicleService_GetCarByManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleService/GetCarByManufacturerResponse" message="tns:IVehicleService_GetCarByManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCarByModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleService/GetCarByModel" message="tns:IVehicleService_GetCarByModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleService/GetCarByModelResponse" message="tns:IVehicleService_GetCarByModel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleService/DeleteCar" message="tns:IVehicleService_DeleteCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleService/DeleteCarResponse" message="tns:IVehicleService_DeleteCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IVehicleService/UpdateCar" message="tns:IVehicleService_UpdateCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVehicleService/UpdateCarResponse" message="tns:IVehicleService_UpdateCar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVehicleService" type="tns:IVehicleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewCar">
      <soap:operation soapAction="http://tempuri.org/IVehicleService/AddNewCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCars">
      <soap:operation soapAction="http://tempuri.org/IVehicleService/GetCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarByManufacturer">
      <soap:operation soapAction="http://tempuri.org/IVehicleService/GetCarByManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarByModel">
      <soap:operation soapAction="http://tempuri.org/IVehicleService/GetCarByModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCar">
      <soap:operation soapAction="http://tempuri.org/IVehicleService/DeleteCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCar">
      <soap:operation soapAction="http://tempuri.org/IVehicleService/UpdateCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VehicleService">
    <wsdl:port name="BasicHttpBinding_IVehicleService" binding="tns:BasicHttpBinding_IVehicleService">
      <soap:address location="http://localhost:8081/Design_Time_Addresses/RentACarService/VehicleService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>